<div class="container__big-card">
  <a href="https://www.facebook.com/studiofdesde2011/" target="_blank">
  <div class="big-card__photo">
      <img
      src="https://scontent.fbsb8-2.fna.fbcdn.net/v/t39.30808-6/300222139_488562646609224_8507322876168900948_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_ohc=md0rPd3ZY4EAb7d5pTp&_nc_ht=scontent.fbsb8-2.fna&oh=00_AfDTh2jtRH_OViNSXgd8vbd5UrBBdi-smY4PHdXhfWE9-Q&oe=661CEE45"
      alt=""
      height="300px"
      width="200px"
     >
  </div>

    <div class="big-card__title">
      <h1>Projeto Blog do salão Studio F</h1>
    </div>
    <div class="big-card__description">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ultrices tincidunt arcu non sodales neque sodales ut. In tellus integer feugiat scelerisque varius morbi enim nunc faucibus.</p>
    </div>
   </a>
 </div>
